@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  /* Nazrul Center Signature Palette */
  --color-nazrul-base: #fdfcfb; /* Soft Off-White Paper Background */
  --color-nazrul-terracotta: #946659; /* Primary Action / Clay */
  --color-nazrul-sand: #d9c7ad; /* Biography Header Beige */
  --color-nazrul-crimson: #FE2F2F; /* Rebel Red / Historical Emphasis */
  --color-nazrul-ink: #1c1b1e; /* Deep Ink for Readability */
  --color-nazrul-maroon: #58161F; /* Heading color fo pages */
  --color-nazrul-olive: #535C45; /* Subheading color for pages */
  --color-nazrul-honeycomb: #D9C7AD; /* For Heading Background */

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-geist-sans), sans-serif;
}

body {
  background-color: var(--color-nazrul-base);
  color: var(--color-nazrul-ink);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
